iframe{
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-bar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.2em;
}
